$neon: black;
$bg: white;
.container {
  padding: 0 20px;
}
@media screen and (min-width: 800px) {
  .container {
    padding: 0 20px;
  }
}
.containerInner {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.text {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 40px;
}
.neonButton {
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: $neon;
  border: $neon 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 $neon, 0 0 0.5em 0 $neon;
  position: relative;
}
.neonButton:hover {
  color: white;
}
.neonButton::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: $neon;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neonButton::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em $neon;
  opacity: 0;
  background-color: $neon;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neomButton:hover,
.neonButton:focus {
  color: $bg;
  text-shadow: none;
}

.neonButton:hover::before,
.neonButton:focus::before {
  opacity: 1;
}
.neonButton:hover::after,
.neonButton:focus::after {
  opacity: 1;
}
.header {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 40px;
}
