.container {
  padding: 107px 20px 0 20px;
}
.link {
  text-decoration: none;
  display: block;
}
.imgContainer {
}
.containerInner {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bg {
}
.title {
  font-size: 2rem;
  color: black;
  text-align: center;
}
.grid {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tile {
  max-width: 200px;
}
