.container {
  background-color: #e5e5e5;
  width: 100%;
  padding: 20px 20px 80px 20px;
  width: calc(100% - 40px);
}

.header {
  font-size: 3rem;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}
.links {
  margin: 0;
}
.input {
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 8px;
  outline: none;
  max-width: 100%;
  width: calc(100% - 16px);
  resize: vertical;
}
.wrongEmail {
  box-shadow: 0px 0px 12px 0px rgb(255, 9, 9);
  border: none;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  max-width: 100%;
  width: calc(100% - 16px);
  resize: vertical;
}
.link {
  font-size: 1.6rem;
}
::placeholder {
  color: #5f5a5a;
  font-size: 1.6rem;
  font-family: "Roboto";
}

.containerInner {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

$neon: black;
$neonSend: green;
$neonError: red;

$bg: white;

.neonButton {
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: $neon;
  border: $neon 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 $neon, 0 0 0.5em 0 $neon;
  position: relative;
  z-index: 1;
}
.neonButtonSent {
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: $neonSend;
  border: $neonSend 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 $neonSend, 0 0 0.5em 0 $neonSend;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.neonButtonError {
  font-size: 1.6rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: $neonError;
  border: $neonError 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 $neonError, 0 0 0.5em 0 $neonError;
  position: relative;
  z-index: 1;
}
:is(.neonButton:hover, .neonButtonError:hover, .neonButtonSent:hover) {
  color: white;
}

:is(.neonButton, .neonButtonError, .neonButtonSent)::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: $neon;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(5deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.neonButtonError::before {
  background: $neonError;
}
.neonButtonSent::before {
  background: $neonSend;
}

:is(.neonButton, .neonButtonError, .neonButtonSent)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em $neon;
  opacity: 0;
  background-color: $neon;
  z-index: -1;
  transition: opacity 100ms linear;
}
.neonButtonError::after {
  box-shadow: 0 0 2em 0.5em $neonError;
  background-color: $neonError;
}
.neonButtonSent::after {
  box-shadow: 0 0 2em 0.5em $neonSend;
  background-color: $neonSend;
}
:is(.neonButton, .neonButtonSent, .neonButtonError):hover,
:is(.neonButton, .neonButtonSent, .neonButtonError):focus {
  color: $bg;
  text-shadow: none;
}

:is(.neonButton, .neonButtonSent, .neonButtonError):hover::before,
:is(.neonButton, .neonButtonSent, .neonButtonError):focus::before {
  opacity: 1;
}
:is(.neonButton, .neonButtonSent, .neonButtonError):hover::after,
:is(.neonButton, .neonButtonSent, .neonButtonError):focus::after {
  opacity: 1;
}

.ldsHourglass {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  transform: translateY(-47%);
}
.ldsHourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 10px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ldsHourglass 1.2s infinite;
}
@keyframes ldsHourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.success {
  border: 4px solid green;
  font-size: 1.6rem;
  padding: 8px;
  border-radius: 4px;
}

.error {
  border: 4px solid red;
  font-size: 1.6rem;
  padding: 8px;
  border-radius: 4px;
}
.afterSend {
  display: grid;
  place-items: center;
}
@media screen and (min-width: 800px) {
  .container {
    padding: 40px 20px 100px 20px;
  }
  .containerInner {
    flex-direction: row;
    align-items: unset;
  }
}

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: black;

  &--disabled {
    color: #959495;
  }
}
.checkboxWrong {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: red;

  &--disabled {
    color: #959495;
  }
}
.checkboxControl {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;

  svg {
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
  }
}

.checkboxInput {
  display: grid;
  grid-template-areas: "checkbox";

  > * {
    grid-area: checkbox;
  }

  input {
    opacity: 0;
    width: 1em;
    height: 1em;

    &:focus + .checkboxControl {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
    }

    &:checked + .checkboxControl svg {
      transform: scale(1);
    }

    &:disabled + .checkboxControl {
      color: #959495;
    }
  }
}
.radioLabel {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
