.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: black;
}
.element {
  margin-right: 8px;
}
.element:nth-child(even) {
  animation: slide-down 1.5s ease-in-out;
}
.element:nth-child(odd) {
  animation: slide-up 1.5s ease-in-out;
}
.container {
  background-color: rgb(189, 184, 184);
  padding: 0 20px;
  width: 100%;
}
.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
