.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
.element {
  margin-right: 8px;
}
.element:nth-child(even) {
  animation: slide-down 1.5s ease-in-out;
}
.element:nth-child(odd) {
  animation: slide-up 1.5s ease-in-out;
}
.menuMobileContainer {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: bg linear 0.6s;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
}

.menuMobileContainer .menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menuMobileContainerHidden {
  display: none;
}
.menuMobileContainer .element {
  margin-bottom: 20px;
}
.menuMobileContainer .link {
  color: white;
  font-size: 1.6rem;
}
.container {
  background-color: #e5e5e5;
  padding: 0 20px;
  position: fixed;
  z-index: 100;
  width: calc(100% - 40px);
  overflow: hidden;
}
.container:after {
  background: red;
  content: "";
}
.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  cursor: pointer;
}
.burgerActive {
  cursor: pointer;
  position: fixed;
  right: 20px;
  z-index: 3;
}
.burgerActive path {
  stroke: white;
}
.wave {
  position: absolute;
  left: 0;
  top: calc(100% - 24px);
  width: 200%;
  animation: wave linear 3s infinite;
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
